#short_page .reload
{
    position:absolute;
    display:none;
    top:10%;
    left:50%;
}
#short_page .short-url
{
    color: #919B9C;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
}

#short_page .shortcode-url
{
    color: #000000;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
}